---
---

@font-face {
  font-family: 'Born';
  src: url('/fonts/Born.eot');
  src: url('/fonts/Born.eot') format('embedded-opentype'),
       url('/fonts/Born.woff2') format('woff2'),
       url('/fonts/Born.woff') format('woff'),
       url('/fonts/Born.ttf') format('truetype'),
       url('/fonts/Born.svg#Born') format('svg');
}

body {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: "Born", serif
}

h1 {
  font-size: 3em;
}
h2 {
  margin-left: 60px;
}

footer {
  display: block;
  padding: 100px 0 20px;
  text-align: center;
  font-size: .9em;
}