---
---

.hide-x {
  .nvd3 .nv-x * { visibility: hidden; }
}
.hide-x-tick {
  .nvd3 .nv-x .tick line { visibility: hidden; }
}
.hide-y {
  .nvd3 .nv-y * { visibility: hidden; }
}


$min_width: 600px;
@mixin width-with-svg($min, $max) {
  min-width: $min;
  max-width: $max;

  svg {
    width: 100%;
    min-width: $min;
  }

  & > div.xaxis > div {
    min-width: $min;
  }
}

.photo-line {
  svg {
    z-index: 5;

    .nvd3 g.nv-groups path.nv-line {
      stroke-width: 5px;
    }

    .nvd3 .nv-legend {
      display: none;
    }
  }

  & > div.xaxis {
    position: relative;

    &:only-child {
      display: none;
    }

    & > div {
      position: absolute;
      z-index: 4;
      width: 100%;
      margin: 0px;
      background: none;
    }
  }
}

#total_chart {
  $chart_height: 500px;
  $axis_height: 65px;
  padding-bottom: $axis_height;

  @include width-with-svg($min_width, 950px);

  & > svg {
    height: $chart_height;
    margin-top: -40px;
  }
  & > div.xaxis > div {
    top: $chart_height - 40px;
    right: -45px;
    height: $axis_height;
    background: 0px 0px no-repeat url('../images/cumulative.xaxis.v1.png');
    background-size: calc(100% - 50px) $axis_height;
  }
}

#even {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;

  & > div {
    flex: 1 1 auto;
  }
}

#dow_chart {
  $chart_height: 175px;
  $axis_height: 35px;
  padding-bottom: $axis_height;

  @include width-with-svg(200px, 500px);

  & > svg {
    height: $chart_height;
    margin-top: -25px;
  }
  & > div.xaxis > div {
    top: $chart_height - 45px;
    right: -50px;
    height: $axis_height;
    background: 0px -5px no-repeat url('../images/dow.xaxis.v1.png');
    background-size: calc(100% - 65px) $axis_height;
  }
}

#jvg_chart {
  @include width-with-svg(200px, 450px);
}

#top10_table {
  $cell_width: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;

  & > div {
    flex: 1 1 auto;
    width: $cell_width;
    margin: 10px;
    padding: 10px;
    border: 1px solid #888;
    text-align: center;


  }
  .note_col {
    font-size: 1.2em;
    display: block;
  }
  .day_col {
    font-size: .9em;
    color: #888;

    &:before {
      content: "(";
    }
    &:after {
      content: ")";
    }
  }
  .photo_col {
    display: block;
    img {
      max-width: 100%;
      padding: 5px 0;
    }
  }
  .stat_col {
    display: block;
    padding-top: 2px;
    font-size: .9em;
    color: #7CE47A;
    & > i {
      display: inline-block;
      font-style: normal;
      transform: rotate(270deg);
    }
  }
}

#no_photos {
  color: #999;
}