---
---

.hide-x {
  .nvd3 .nv-x * { visibility: hidden; }
}
.hide-x-tick {
  .nvd3 .nv-x .tick line { visibility: hidden; }
}
.hide-y {
  .nvd3 .nv-y * { visibility: hidden; }
}


$min_width: 600px;
.photo-line, .photo-bar {
  max-width: 800px;
  min-width: $min_width;

  svg {
    width: 100%;
    min-width: $min_width;
  }
}
.photo-line {
  svg {
    z-index: 5;

    .nvd3 g.nv-groups path.nv-line {
      stroke-width: 5px;
    }

    margin-top: -40px;
    .nvd3 .nv-legend {
      display: none;
    }
    //.nvd3 .nv-area {
    //  fill: #f00;
    //}
  }

  & > div.xaxis {
    position: relative;

    & > div {
      position: absolute;
      z-index: 4;
      width: 100%;
      min-width: $min_width;
      margin: 0px;
      background: none;
    }
  }
}

#total_chart {
  $chart_height: 500px;
  $axis_height: 65px;
  padding-bottom: $axis_height;

  & > svg {
    height: $chart_height;
  }
  & > div.xaxis > div {
    top: $chart_height - 40px;
    right: -45px;
    height: $axis_height;
    background: 0px 0px no-repeat url('/images/cumulative.xaxis.v1.png');
    background-size: calc(100% - 50px) $axis_height;
  }
}

#dow_chart {
  $chart_height: 200px;
  $axis_height: 75px;
  padding-bottom: $axis_height;

  & > svg {
    height: $chart_height;
  }
  & > div.xaxis > div {
    top: $chart_height - 45px;
    right: -33px;
    height: $axis_height;
    background: 0px -5px no-repeat url('/images/dow.xaxis.v1.png');
    background-size: calc(100% - 35px) $axis_height;
  }
}

